@*
///
/// ファイル名	: AppFormDetails.cshtml
/// 作成者		: murakami
/// 制作日		: 2020/3/12
/// 最終更新者	: なし
/// 最終更新日	: なし
///
/// 更新履歴
/// 名前			日付		内容
/// murakami		2020/03/12	新規作成
///
*@

@{
    Layout = null;
    ViewBag.Title = "AppFormDetails";
}

@* 必要ファイル読み込み *@
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")

@model FlowManager.Models.FormParam.AppFormViewModel

<br />

<table class="table table-bordered ">
    <tr>
        <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.ImplementationDate)</th>
        <td class="col-lg-10 active" colspan="3">@Html.DisplayFor(appFormModel => appFormModel.ImplementationDate, new { @class = "col-lg-12" })</td>
    </tr>
    <tr>
        <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.FormName)</th>
        <td class="col-lg-10 active" colspan="3">@Html.DisplayFor(appFormModel => appFormModel.FormName, new { @class = "col-lg-12" })</td>

    </tr>
    <tr>
        @*
            <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.contents)</th>
            <td class="col-lg-10 active" colspan="3">@Html.DisplayFor(appFormModel => appFormModel.contents, new { @class = "col-lg-12" })</td>
        *@
    </tr>
    <tr>
        <th class="text-center info" colspan="4">申請詳細</th>
    </tr>
    @*
        <tr>
            <th class="col-lg-8 text-center info" colspan="2">@Html.DisplayNameFor(appFormModel => appFormModel.ditails[0].contents)</th>
            <th class="col-lg-2 info">申請項目</th>
            <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.ditails[0].productionAmount)</th>
        </tr>
        <tr>
            <td class="col-lg-8 active" colspan="2">@Html.DisplayFor(appFormModel => appFormModel.ditails[0].contents, new { @class = "col-lg-12" })</td>
            <td class="col-lg-2 active">公共交通機関</td>
            <td class="col-lg-2 active">@Html.DisplayFor(appFormModel => appFormModel.ditails[0].productionAmount, new { @class = "col-lg-12" })</td>
        </tr>
        <tr>
            <td class="col-lg-8 active" colspan="2">@Html.DisplayFor(appFormModel => appFormModel.ditails[1].contents, new { @class = "col-lg-12" })</td>
            <td class="col-lg-2 active">食事代</td>
            <td class="col-lg-2 active">@Html.DisplayFor(appFormModel => appFormModel.ditails[1].productionAmount, new { @class = "col-lg-12" })</td>
        </tr>
    *@
</table>

<br />

<table class="table table-bordered ">
    <tr class="info">
        <th class="col-lg-2">承認担当者</th>
        <th class="col-lg-2">横浜工場所属長</th>
        <th class="col-lg-2">横浜工場総務担当者</th>
        <th class="col-lg-2">本社総務担当者</th>
        <th class="col-lg-2">本社経理担当者</th>
        <th class="col-lg-2">役員</th>
    </tr>
    <tr class="active">
        <th class="info">承認有無</th>
        <td>可</td>
        <td>保留</td>
        <td>未</td>
        <td>未</td>
        <td>未</td>
    </tr>
    <tr class="active">
        <th class="info">コメント</th>
        <td>特になし</td>
        <td>ホテル代について確認中。12月２日に承認の可否を出す予定。</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <div class="col-lg-offset-1">
        @*
            <div class="row">
                @Html.DisplayNameFor(appFormModel => appFormModel.comments[0].comment)
            </div>
            <div class="row">
                @Html.TextAreaFor(appFormModel => appFormModel.comments[0].comment, new { @class = "col-lg-10"})
            </div>
        *@
        <br />
        <div class="row">
            <input class="btn btn-primary" type="submit" value="承認" />
            <input class="btn btn-primary" type="submit" value="否認" />
            <input class="btn btn-primary" type="submit" value="保留" />
            <input class="btn btn-primary" type="submit" value="差戻し" />
            <input class="btn btn-primary" type="submit" value="校正依頼" />
            <input class="btn btn-primary" type="submit" value="引き上げ" />
            <input class="btn btn-primary" type="submit" value="引き戻し" />
        </div>
    </div>
}
