@*
///
/// ファイル名	: AppFormList.cshtml
/// 作成者		: murakami
/// 制作日		: 2020/3/12
/// 最終更新者	: なし
/// 最終更新日	: なし
///
/// 更新履歴
/// 名前			日付		内容
/// murakami		2020/03/12	新規作成
///
*@
@{
    Layout = null;
    ViewBag.Title = "AppFormList";
}

@* 必要ファイル読み込み *@
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@model FlowManager.Models.FormParam.AppFormViewModel
@using FlowManager.Models.FormParam

<script type="text/javascript">
    $(document).ready(function () {
        // 行をクリックしたら
        $('tr').click(function (event) {
            //パスは アクション/クラス名
            $('.result').load($(this).data('category'));
        });
    });
</script>

<br />
<table id="table" class="table table-hover table-clickable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(appFormModel => appFormModel.ImplementationDate)</th>
            <th>@Html.DisplayNameFor(appFormModel => appFormModel.FormName)</th>
            <th>申請ユーザ</th>
            <th>次の承認権限者</th>
        </tr>
    </thead>

    @foreach (AppFormViewModel appformModel in ViewBag.appFormViewModels)
    {
        <tr class="div-ajaxLoad" data-category="AppFormDetails/AppForm?appFormID=@appformModel.ID">
            <td>@appformModel.ImplementationDate.ToLongDateString()</td>
            <td>@appformModel.FormName</td>
            <td>@appformModel.UserName</td>
            <td>@appformModel.BelongName@appformModel.ManagerName</td>
        </tr>
    }

</table>