@*
///
/// ファイル名	: NewAppForm.cshtml
/// 作成者		: murakami
/// 制作日		: 2020/3/12
/// 最終更新者	: なし
/// 最終更新日	: なし
///
/// 更新履歴
/// 名前			日付		内容
/// murakami		2020/03/12	新規作成
///
*@

@{
    Layout = null;
    ViewBag.Title = "NewAppForm";
}

@* 必要ファイル読み込み *@
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/AppFormElementTable");

@model FlowManager.Models.FormParam.AppFormViewModel

<br />

@using (Html.BeginForm())
{
    <table id="AppFormTable" class="table table-bordered ">
        <tr>
            <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.ImplementationDate)</th>
            <td class="col-lg-10 active" colspan="4">@Html.TextBoxFor(appFormModel => appFormModel.ImplementationDate, new { @class = "col-lg-12" })</td>
        </tr>
        <tr>
            <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.FormName)</th>
            <td class="col-lg-10 active" colspan="4">@Html.TextBoxFor(appFormModel => appFormModel.FormName, new { @class = "col-lg-12" })</td>

        </tr>
        <tr>
            <th class="col-lg-2 info">@Html.DisplayNameFor(appFormModel => appFormModel.contents)</th>
            <td class="col-lg-10 active" colspan="4">@Html.TextAreaFor(appFormModel => appFormModel.contents, new { @class = "col-lg-12" })</td>
        </tr>
        <tr>
            <th class="text-center info" colspan="5">申請詳細</th>
        </tr>
        <tr>
            <th class="col-lg-8 text-center info" colspan="2">@Html.DisplayNameFor(appFormModel => appFormModel.ditails[0].contents)</th>
            <th class="col-lg-1 info">@Html.DisplayNameFor(appFormModel => appFormModel.ditails[0].productionAmount)</th>
            <th class="col-lg-2 info">申請種目</th>
            <th class="col-lg-1 info">削除</th>
        </tr>

    </table>
    <button id="button" class="col-lg-offset-11">追加</button>

    <br />

    <input class="col-lg-offset-5 col-lg-2" type="submit" value="申請する" />
}


